@model IEnumerable<BlogNetApp.Models.Post>
@{
    Layout = null;
}
@{
    
    ViewBag.Title = "this.Title";
}
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/HomePage.css")

<!DOCTYPE html>


<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    


</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">


                    <li>@Html.ActionLink("Users", "Index", "User")</li>
                    <li>@Html.ActionLink("Posts", "Index", "Post")</li>
                    <li>@Html.ActionLink("Categories", "Index", "Category")</li>

                </ul>
                @Html.ActionLink("Log out!", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h1>
            <p class="lead">Sed sagittis, dolor id volutpat consequat, erat ante molestie nunc, vitae mollis nibh justo a eros. </p>
        </div>
    </div>

    <div class="main container">
        @foreach (var item in Model)
        {
            <div class="Post">
                <div class="meta">
                    <h2 class="col-md-12"> Title: @Html.DisplayFor(modelItem => item.Title)</h2>
                    <div class="row desc">
                        <h4 class="col-md-4"> Category: @Html.DisplayFor(modelItem => item.Category.CategoryName)</h4>
                        <h4 class="col-md-4">Posted by:  @Html.DisplayFor(modelItem => item.User.Username)</h4>
                        <h4 class="col-md-4">Tag: @Html.DisplayFor(modelItem => item.Tag)</h4>
                    </div>

                </div>
                <p id="1">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>




                <hr />
            </div>
        }
        <p>Create new  @Html.ActionLink("post", "Create", "Post")!</p>


    </div>

    <footer class="page-footer font-small">

        
        <div class="footer-copyright text-center py-3">
            © 2019copyright:Me
        </div>
       

    </footer>


</body>
